


    



.carousel-3d {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 1005px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.carousel-3d > * {
    flex: 0 0 auto;
}
.carousel-3d figure {
    margin: 0;
    width: 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel-3d figure img,
.carousel-3d figure div {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.carousel-3d figure img {
    user-select: none;
}
.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
.carousel-3d nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.carousel-3d nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: #337AB7;
    background: #BFE2FF;
    border: 1px solid #337AB7;
    padding: 5px 10px;
    font-weight: bold;
    transition: all .3s ease;
}
.carousel-3d nav button:hover {
    color: #FFF;
    background: #337AB7;
}



/*меню сайта*/
*{
margin: 0;
padding: 0;
outline: none;
border: none;
-webkit-box-sizing: border-box;
}
*:before,
*:after{
-webkit-box-sizing: border-box;
}
.clearfix {
*zoom: 1;
}
html{
font-family: Helvetica, arial, sans-serif;
font-size: 12px;
}
body{
background: url('brushed_alu.png');
}
.clearfix:before,
.clearfix:after {
display: table;
line-height: 0;
content: "";
}
.clearfix:after {
clear: both;
}
.container{
width: 80%;
margin: 0 auto;
}
header{
width: 100%;
height: auto;
background: black;
}
.header-left,
.header-right{
position: relative;
color: white;
float: left;
}
.header-left{
width: 30%;
}
.header-right label{
position: absolute;
top: -3.7em;
right: 0;
cursor: pointer;
}
.header-right span{
position: relative;
width: 2em;
height: 2em;
background: rgba(255,255,255,.3);
-webkit-transition: all .3s ease;
}
.header-right span:hover{
background: rgba(255,255,255,.6);
}
.header-right span:before,
.header-right span:after{
content: '';
position: absolute;
width: 2em;
height: .5em;
top: 4px;
left: 0;
background: black;
}
.header-right span:after{
top: 14px;
}
.header-right{
width: 70%;
text-align: right;
}
#open{
display: none;
}
h1{
font-weight: 300;
line-height: 40px;
}
a{
text-decoration: none;
color: white;
}
nav>a{
position: relative;
display: inline-block;
font-size: 13px;
line-height: 40px;
padding: 0 2em;
-webkit-transition: all .3s ease;
}
nav>a:hover{
background: rgba(255,255,255,.9);
color: black;
}
.hidden-desktop{
display: none;
}
section{
width: 100%;
height: auto;
background-image: -webkit-linear-gradient(#80059E 0%, #550486 100%);
}
.section-left,
.section-right{
float: left;
}
.section-left{
width: 70%;
padding: 3em 0;
}
.section-right{
width: 30%;
}
.section-title,
.section-tagline{
color: white;
font-weight: 300;
margin: 0;
padding: 0;
-webkit-transition: all .4s ease;
}
.section-title{
font-size: 4em;
margin-bottom: .3em;
text-shadow: 0 3px 0px black,
             0 4px 0px rgba(150,150,150,.5);
}
.section-tagline{
font-size: 1em;
}
.learn-more{
display: table;
margin: 3em auto 0;
padding: 1em 6em;
cursor: pointer;
border-radius: 3px;
box-shadow: inset 0 -3px 0 rgba(0,0,0,.8);
background: #EAAF00;
background-image: -webkit-linear-gradient(#EAAF00 0%, #D78100 100%);
font-size: 1.2em;
}
.learn-more:hover{
background: #EAAF00;
}
.learn-more:active{
box-shadow: inset 0 2px 0 rgba(0,0,0,.8);
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.box{
    width: 49%;
    margin-bottom: 5%;
}

ul li:nth-child(3) .box{
    clear: both;
}

ul li:nth-child(2n) .box{
    margin-right: 0;
    clear: right;
}
}

/* Small monitor */
@media (max-width: 979px){
nav>a{
    padding: 0 1.5em;
}
.section-left,
.section-right{
    width: 100%;
}
.section-left{
    text-align: center;
}
.section-right{
    padding: 0 0 2em;
}
.section-title{
    font-size: 4em;
    margin-bottom: .2em;
}
.section-tagline{
    font-size: 1.3em;
}
.learn-more{
    margin: 0 auto;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.container{
    width: 95%;
}
nav>a{
    padding: 0 2em;
}
h1{
    padding: .5em 0;
}
.header-left,
.header-right{
    width: 100%;
    text-align: center;
}
.section-left,
.section-right{
    width: 100%;
}
.section-left{
    text-align: center;
    padding: 2em 0;
}
.section-right{
    padding: 1em 0 2em;
}
.section-title{
    font-size: 3em;
    margin-bottom: .2em;
}
.section-tagline{
    font-size: 1.3em;
}
.learn-more{
    margin: 0 auto;
}
}

/* Landscape phones and down */
@media (max-width: 480px) {
body{
    padding: 0 .5em;
}
.container{
    width: 90%;
}
nav{
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease;
}
input[type="checkbox"]:checked + nav{
    height: 205px;
}
nav>a{
    padding: 0 1em;
    display: block;
    border-bottom: solid 1px rgba(255,255,255,.1);
}
h1{
    padding: .5em 0;
}
.header-left,
.header-right{
    width: 100%;
    text-align: center;
}
.section-left,
.section-right{
    width: 100%;
}
.section-left{
    text-align: center;
    padding: 1em 0;
}
.section-right{
    text-align: center;
    padding: 1em 0 2em;
}
.section-title{
    font-size: 2.4em;
    margin-bottom: 0;
}
.section-tagline{
    font-size: 1em;
}
.learn-more{
    display: table;
    margin: 0 auto;
}
.hidden-desktop{
    display: block;
}
}


@media (max-width: 480px){
    section {
        width: 100%;
        height: auto;
        background-image: -webkit-linear-gradient(#80059E 0%, #550486 100%);
        background-image: url(img/wallpaperm_wallpaper.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        /* background-attachment: fixed; */
        /* -webkit-background-size: cover; */
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    }


    @media (max-width: 480px){
        section {
            width: 100%;
            height: auto;
            background-image: -webkit-linear-gradient(#80059E 0%, #550486 100%);
            background-image: url(../img/wallpaperm_wallpaper.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            /* background-attachment: fixed; */
            /* -webkit-background-size: cover; */
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }}
        




  
  .footer-distributed{
    background-image: -webkit-linear-gradient(#80059E 0%, #550486 100%);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }