#feedback-form { /* вся форма */
       
    padding: 2%;
border-radius: 3px;
background: #8e6cbba6;
width: 500px;
margin-top: 70px;
margin-bottom: 70px;
}
#feedback-form label { /* наименование полей */
  float: left;
  display: block;
  clear: right;
  font-size: 13px;
}
#feedback-form .w100 { /* поля */
  float: right;
  max-width: 400px;
  width: 97%;
  margin-bottom: 1em;
  padding: 1.5%;
}
#feedback-form .border { /* граница полей */
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0 #D9D9D9 #D9D9D9;
  box-shadow: 0 1px 1px rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.1) inset;
}
#feedback-form .border:focus {
  outline: none;
  border-color: #abd9f1 #bfe3f7 #bfe3f7;
}
#feedback-form .border:hover {
  border-color: #7eb4ea #97cdea #97cdea;
}
#feedback-form .border:focus::-moz-placeholder { /* убрать при фокусе первоначальный текст поля */
  color: transparent;
}
#feedback-form .border:focus::-webkit-input-placeholder {
  color: transparent;
}
#feedback-form .border:not(:focus):not(:hover):valid { /* правильно заполненные поля */
  opacity: .8;
}
#submitFF { /* кнопка "Отправить" */
  padding: 2%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
  background: #669acc;
  color: #fff;
}
#feedback-form br {
  height: 0;
  clear: both;
}
#submitFF:hover {
  background: #5c90c2;
}
#submitFF:focus {
  box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}

.ver {
margin: 33px;
padding: 20px;
text-align: center;
font-size: 20px;
font-family: 'Halogen cyrillic';
src: url(Halogen_0.ttf);
border: 3px solid rgb(0 0 0 / 78%);
}

.dark .ver {
margin: 33px;
padding: 20px;
text-align: center;
font-size: 20px;
font-family: 'Halogen cyrillic';
src: url(Halogen_0.ttf);
color: #ffa8a8;
border: 3px solid rgb(14 80 126 / 78%);
}

#open {
  display: none;
}
.wsdas{
    padding: 20px;
   }
   
