/* общие настройки для всего контейнера */
.sl-container {
    /* рисуем границу */
  /*  border: 3px solid #000000;
    /* добавляем отступы */
    /*margin: 5px auto;
    /* то, что не помещается в блок, — скрываем */
   /* overflow: hidden;
    /* используем относительное позиционирование */
   /* position: relative;
    /* устанавливаем высоту и ширину блока */
   /* width: min(90vh, 90vw);
   /* height: min(90vh, 90vw);*
    /* ограничиваем всё размерами блока */
   /* box-sizing: border-box;*/


    
        border: 3px solid #000000;
        /* margin: 5px auto; */
        overflow: hidden;
        position: relative;
        width: min(40vh, 40vw);
        height: min(40vh, 40vw);
        box-sizing: border-box;
        /* flex: 25%; */
        /* max-width: 33%; */
        padding: 0 -3px;
    
}

/* настройки блоков с картинками */
.sl-container .view {
    /* включаем абслютное позиционирование */
    position: absolute;
    /* сдвигаем всё в левый верхний угол */
    top: 0;
    left: 0;
    /* то, что не помещается в блоке — скрываем */
    overflow: hidden;
}

/* настройки картинок в блоке .view */
.sl-container .view img {
    /* ширина картинок совпадает с шириной блока */
    width: min(40vh, 40vw);
    background-color: #000000
}


/* настройки картинки слева */
.sl-container .view-after {
    /* показываем только половину */
    width: min(40vh, 40vw);
    /* и виртуально кладём её выше, чем картинку справа */
    z-index: 200;
}

/* настройки слайдера */
.sl-container .dragme {
    /* включаем абслютное позиционирование */
    position: absolute;
    /* ширина разделителя */
    width: 3px;
    /* на всю высоту блока */
    height: 100%;
    /* начинается сверху блока */
    top: 0px;
    /* делит картинки пополам, потому что общая ширина у них 90vh */
    left: min(45vh, 45vw);
    /* цвет фона */
    background-color: #BFE2FF;
    /* меняем форму курсора */
    cursor: pointer;
    /* поднимаем слайдер выше картинок */
    z-index: 300;
}

/* кругляш на слайдере */
.sl-container .dr-circle {
    /* включаем абсолютное позиционирование */
    position: absolute;
    /* высчитываем позицию сверху, чтобы поставить его посередине */
    top: calc(50% - 20px);
    /* сдвигаем влево, так как круг рисуется слева направо, а не из центра */
    left: -15px;
    /* превращаем фигуру в круг */
    border-radius: 100%;
    /* высота и ширина */
    width: 40px;
    height: 40px;
    /* цвет фона */
    background-color: #BFE2FF;
    /* меняем форму курсора */
    cursor: pointer;
    /* делаем на той же виртуальной высоте, что и полоска слайдера */
    z-index: 300;
}


