.vertical-menu {
    width: 100%px;
    margin: 11px;
    font-size: 15px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 15px;
    text-decoration: none;
  
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-image: -webkit-linear-gradient(#80059E 0%, #550486 100%);
    color: white;
}
.ver{
    margin: 33px;
padding: 20px;
text-align: center;
font-family: 'Halogen cyrillic';
src: url(Halogen_0.ttf);

box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgb(0 0 0);
}

.wsa{
    color: #000;
    font-size: 15px;
    padding: 20px;
}




.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    cursor: pointer;
    width: 340px;
    height: 480px;
}

.front,
.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front img{
    height: 100%;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #f1f1f1;
}

.back-content{
    width: 100%;
    text-align: center;
    color: #333333;
}

h2{
    margin-bottom: 20px;
}

span{
    display: block;
    font-size: 20px;
}

.fas{
    display: block;
    margin: 20px 0;
    color: red;
    font-size: 30px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}
.dsad{
    background-color: #c37878;
    min-height: 250px;
    word-wrap: break-word;
    margin-top: 16px;
    font-size: 18px;
    margin-bottom: 27px;
}

.weda{
padding: 5px;
}
.wedaw{
    margin-left: 22px;
}
